.copy-container {
  letter-spacing: 1px;
  line-height: 1.4;

  &--heading {
    color: $primary-color;
    margin-bottom: .8rem;

    &__black {
      color: $primary-text-color;
      font-weight: 400;
    }
  }

  &__no-margin-top {
    margin-top: 0;
  }

  &__more-margin-bottom {
    margin-bottom: 1.8rem;
  }
  
  &__border-bottom {
    border-bottom: 1px solid $divider-color;
  }

  &__bottom-margin {
    &:last-child {
      margin-bottom: 8rem;
    }
  }

  &--signature {
    margin-top: 1.5rem;
    max-width: 300px;
  }
}