.main-nav {
  background-color: $primary-color-dark;
  letter-spacing: 2px;
  position: relative;
  z-index: 100;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 1rem 0;
    border-bottom: 2px solid $primary-color-dark;
    transition: border-bottom 0.2s;

    &:hover {
      border-bottom: 2px solid $primary-color-text;
    }
  }

  a {
    margin-right: 1.5rem;
    text-transform: uppercase;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
