.row {
  display: flex;

  &__space-between {
    justify-content: space-between;
  }

  &__align-end {
    justify-content: flex-end;
  }

  &__align-right {
    align-self: flex-end;
  }

  &__large-4 {
    flex: 4;
  }

  &__large-6 {
    flex: 6;
  }

  &__aside-left {
    min-width: 400px;
    padding: 40px 40px 0 0;
  }

  &__aside-right {
    max-width: 600px;
    padding: 40px 0 0 40px;
  }
}
